.row-container {
    display: flex;
    justify-content: space-between;
  }
  
  .row-container > div {
    margin-right: 10px;
    white-space: pre-wrap;
    font-family: Verdana, Arial;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .row-container > div * {
    flex-grow: 1; 
  }